<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>found comment is :</h1>
    <h3>id: <%= foundComment.id %></h3>
    <h3>username: <%= foundComment.username %></h3>
    <h3>comment: <%= foundComment.comment %></h3>
</body>
</html>