<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star</title>
</head>
<body>
    

    <!-- logics kam likhte hai ejs wali file mein  -->

    <% let rn = Math.floor(Math.random() * 100); %>
    <h2><%= rn %></h2>
    
    <% if(rn%2==0){ %>
        <h2>even number</h2>
    <% }  else{ %>
        <h2>odd number</h2>
   <% } %>


</body>
</html>