<%- include('./partials/header') %>


    <form action="/user" method="get">
        <h3>using get</h3>
        <label for="name">Name:</label>
        <input type="text" id="name" name="naam">

        <label for="age">Age:</label>
        <input type="text" id="age" name="umar">

        <button type="submit">Submit</button>
    </form>


<%- include('./partials/footer') %></input>